/*
	 ___      ___
	|"  \    /"  | ⊏
	 \   \  //   | ⊓
	/ \   \/.    | ⊐
	|: \.        | ⊔
	|.  \    /:  | ⊏
	|___|\__/|___| ⊓
*/

@import url("colors.css");

* {
	all: unset;
	font-family: FontAwesome, Source Code Pro, Roboto, Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

window#waybar {
	background: @bar-bg;
}

.modules-left {
	padding-left: 4px;
}

.modules-right {
	padding-right: 8px;
}

.modules-left, .modules-center, .modules-right {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	padding-top: 2px; padding-bottom: 4px;
}

.modules-right widget label {
	padding: 5px 20px;
	color: @txt-default;
}

#workspaces button {
	color: @txt-default;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	padding: 0 20px;
	transition-property: background, color, padding, text-shadow;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

#workspaces button.active {
	padding: 0 50px;
	color: @txt-highlight;
	text-shadow: 0 0 7px rgba(255,255,255,0.6);
	background: rgba(255,255,255,0.05);
}

#workspaces button:hover {
	color: @txt-highlight;
	text-shadow: 0 0 7px rgba(255,255,255,1);
}

#window {
	margin: -2px 0 0 0;
	color: @txt-default;
}

#custom-separator {
	padding: 0;
	font-size: 0;
	background: linear-gradient(180deg, rgba(0,0,0,0), rgba(255,255,255,0.2) 35%, rgba(255,255,255,0.2) 65%, rgba(0,0,0,0));
}

#custom-memory, #custom-cpu, #custom-weather {
	min-width: 70px;
}

tooltip {
	background: rgba(0,0,0,0.75);
	border-radius: 9px;
}

tooltip label {
	padding: 8px 16px;
	color: @txt-tooltip;
}