/*
	 ___      ___
	|"  \    /"  | ⊏
	 \   \  //   | ⊓
	/ \   \/.    | ⊐
	|: \.        | ⊔
	|.  \    /:  | ⊏
	|___|\__/|___| ⊓

*/


* {
	all: unset;
	font-family: FontAwesome, Source Code Pro, Roboto, Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

.modules-left {
	margin-left: 4px;
}

.modules-right {
	margin-right: 8px;
}

.modules-right widget label {
	padding: 6px 20px;
	color: #b1b1b1;
}

.modules-left, .modules-center, .modules-right {
	margin-top: 4px;
	margin-bottom: 4px;
	text-shadow: 1px 1px 1px #000;
}

#workspaces button {
	color: #c1c1c1;
	background: linear-gradient(166deg, rgba(255,255,255,0), rgba(255,255,255,0));
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	padding: 0 20px;
	transition-property: background, color, padding, text-shadow;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

#workspaces button.active {
	padding: 0 50px;
	color: #f1f1f1;
	text-shadow: 0 0 7px rgba(255,255,255,0.6);
	background: rgba(255,255,255,0.05);
}

#workspaces button:hover {
	color: #f1f1f1;
	text-shadow: 0 0 7px rgba(255,255,255,1);
}

#window {
	margin: -2px 0 0 0;
	color: #b1b1b1;
}

#custom-separator {
	padding: 0;
	font-size: 0.1px;
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0));
}

#custom-memory, #custom-cpu, #custom-weather {
	min-width: 70px;
}

tooltip {
	background: rgba(0,0,0,0.75);
	border-radius: 9px;
}

tooltip label {
	padding: 8px 16px;
	text-shadow: 0 0 2px rgba(0,0,0,15);
	color: #999999;
}