/*

     ___      ___
    |"  \    /"  |
     \   \  //   |
     /\   \/.    |
    |: \.        |
    |.  \    /:  |
    |___|\__/|___|

	# Waybar stylesheet by Coen Diepenbroek (MajorMuff)
	# 

*/

@import url("/home/coen/dotfiles/waybar/colors.css");


/* General style and reset */

	* {
		margin: 0;
		padding: 0;
		border: 0;
		border-radius: 0;
		background-color: transparent;
		box-shadow: none;
		
		font-family: FontAwesome, Source Code Pro, Roboto, Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    color: @defText;
	}

/* *************** */



/* Left side modules */

	/* Workspaces module */
		#workspaces button {
			min-width: 45px;
			padding: 6px 16px 5px 16px;
			transition-property: padding;
			transition-duration: .2s;
			transition-timing-function: ease-out;
		}

		#workspaces button:last-child {
			border-radius: 0 13px 13px 0;
		}

		#workspaces button.active,
		#workspaces button.active:hover,
		#workspaces button:hover {
			padding-right: 34px; padding-left: 34px;
		}

		#workspaces button:nth-child(1) { background: linear-gradient(to right, shade(@grad1, 0.8), @grad1 4px); }
		#workspaces button:nth-child(2) { background: linear-gradient(to right, shade(@grad2, 0.7), @grad2 4px); }
		#workspaces button:nth-child(3) { background: linear-gradient(to right, shade(@grad3, 0.6), @grad3 4px); }
		#workspaces button:nth-child(4) { background: linear-gradient(to right, shade(@grad4, 0.8), @grad4 4px); }
		#workspaces button:nth-child(5) { background: linear-gradient(to right, shade(@grad5, 0.8), @grad5 4px); }
		#workspaces button:nth-child(6) { background: linear-gradient(to right, shade(@grad6, 0.8), @grad6 4px); }
		#workspaces button:nth-child(7) { background: linear-gradient(to right, shade(@grad7, 0.8), @grad7 4px); }
		#workspaces button:nth-child(8) { background: linear-gradient(to right, shade(@grad8, 0.8), @grad8 4px); }

	/* Window module */
		#window {
			color: #e1e1e1;
			font-weight: bold;
			margin: 2px 20px 0 20px;
		}

/* *************** */


	
/* Right side modules */

	#custom-mem,
	#custom-cpu,
	#custom-clock,
	#network,
	#pulseaudio {
		padding: 2px 30px 1px 30px;
	}

	#custom-clock { background: linear-gradient(to left, shade(@grad1,0.8), @grad1 4px); }
	#custom-mem { background: linear-gradient(to left, shade(@grad2,0.7), @grad2 4px); }
	#custom-cpu { background: linear-gradient(to left, shade(@grad3,0.6), @grad3 4px); }
	#network { background: linear-gradient(to left, shade(@grad4,0.8), @grad4 4px); }
	#pulseaudio { background: linear-gradient(to left, shade(@grad5,0.8), @grad5 4px); border-radius: 13px 0 0 13px; }

/* *************** */


/*
* {
    font-family: FontAwesome, Anita Semi-square, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(30, 30, 30, 0.8);
    color: #C1C1C1;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 8px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    transition-property: box-shadow;
    transition-duration: .1s;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #4AB8BC;
}

#workspaces button {
    padding: 0 15px;
    background-color: transparent;
    border-radius: 0;

}
#workspaces button:first-child {
	border-radius: 8px 0 0 8px;
}

#workspaces button:last-child {
	margin-right: 20px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: rgba(200,200,200,0.02);
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.3), inset 0 -2px 0 #4AB8BC;
    color: #4AB8BC;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #D8D8D8;
}

#clock,
#battery,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-cpu,
#custom-mem,
#custom-user,
#mpd {
    padding: 0 20px;
}

#custom-user {
	margin-right: 8px;
}

#custom-separator-left {
	opacity: 0.07;
	min-width: 21px;
	background-image: url('/home/coen/.config/waybar/separator-left.png');
}
#custom-separator-right {
	opacity: 0.07;
	min-width: 21px;
	background-image: url('/home/coen/.config/waybar/separator-right.png');
}
#custom-newclock {
	min-width: 180px;
	margin-right: 12px;
}

#window {
	margin-left: 25px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
    border-radius: 0px 4px 4px 0;
}

#clock {
    background: transparent;
}

#battery {
    background-color: #D8D8D8;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #D8D8D8;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #D8D8D8;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #D8D8D8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background: transparent;
}

#memory {
    background: transparent;
    color: #5673BE;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background: transparent;
}

#network.disconnected {
    background: transparent;
}

#pulseaudio {
    background: transparent;
}

#pulseaudio.muted {
    background: transparent;
}

#wireplumber {
    background: transparent;
}

#wireplumber.muted {
    background: transparent;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
	background: transparent;
}

#idle_inhibitor.activated {
    background: transparent;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
#tray {
	color: #4AB8BC;
}
*/
